body
{
   display: inline-block;
   justify-content: center;
   min-height: 100vh;
   background: #edf1f4;
}
.step-2
{
   display:none;
}
p{
   font-size: 18px;
   font-family: sans-serif;
   
}
.b{
   font-family: sans-serif;
   font-size: 18px;
}
h3
{
   font-size: 20px;
   font-family: sans-serif;
}
h3::after {
   content: '';
   height: 5px;
   width: 150px;
   background-color: red;
   display: block;
   margin-top: 30px;
}
.slidercontainer
{
   height: 30%;
   background-color: rgb(233, 233, 233);
   padding: 20px;

}
.day
{
   width: 50%;
   float: left;
}
.week
{
   width: 50%;
   float: right;
}
.cost-2
{
margin-top: 10%;
}
.divider
{
   width: 100%;
   height: 1px;
   background-color: red;
   display: inline-block;
   margin-top: 5%;
}
.month
{
   width: 50%;
   float: left;
}
.year
{
   width: 50%;
   float: right;
}
.cigrettes
{
   margin-top: 10%;
}
.smoking
{
   margin-top: 5%;
}
.select-menu
{
   width: 380px;
   margin: 150px auto;
}
.select-menu .select-btn
{
   display: flex;
   height: 55px;
   background: red;
   padding: 20px;
   font-size: 18px;
   font-weight: 400;
   align-items: center;
   justify-content: space-between;
}
.select-menu .option
{
   position: relative;
   padding: 20px;
   margin-top: 10px;
   background: white;
}
.options .option
{
   display: flex;
   height: 55px;
   cursor: pointer;
   padding: 0 16px;
   align-items: center;
   background: white;
}
.option .option-text
{
   font-size: 18px;
   margin-right: 12px;
}


.range
{
   width: 500px;
   height: 15px;
   appearance: none;
   background: #fff;
   outline: none;
   border-radius: 15px;
}
.range::-webkit-slider-thumb
{
   appearance: none;
   width: 15px;
   height: 15px;
   background: red;
   border-radius:50%;
   border: 2px solid red;
   cursor: pointer;
}
#rangeValue1
{
   position: relative;
   text-align: center;
   height: 30px;
   width: 90px;
   color: red;
   background: #fff;
   margin-left: 15px;
   padding-top: 10px;
   font-family: sans-serif;
   font-weight: 700;
   font-size: medium;
   display: inline-block;
}
#rangeValue2
{
   position: relative;
   text-align: center;
   height: 30px;
   width: 90px;
   color: red;
   background: #fff;
   margin-left: 15px;
   padding-top: 10px;
   font-family: sans-serif;
   font-weight: 700;
   font-size: medium;
   display: inline-block;
}
#rangeValue3
{
   position: relative;
   text-align: center;
   height: 30px;
   width: 90px;
   color: red;
   background: #fff;
   margin-left: 15px;
   padding-top: 10px;
   font-family: sans-serif;
   font-weight: 700;
   font-size: medium;
   display: inline-block;
}
#rangeValue4
{
   position: relative;
   text-align: center;
   height: 30px;
   width: 90px;
   color: red;
   background: #fff;
   margin-left: 15px;
   padding-top: 10px;
   font-family: sans-serif;
   font-weight: 700;
   font-size: medium;
   display: inline-block;
}
#rangeValue5
{
   position: relative;
   text-align: center;
   height: 30px;
   width: 90px;
   color: red;
   background: #fff;
   margin-left: 15px;
   padding-top: 10px;
   font-family: sans-serif;
   font-weight: 700;
   font-size: medium;
   display: inline-block;
}
#rangeValue6
{
   position: relative;
   text-align: center;
   height: 30px;
   width: 90px;
   color: red;
   background: #fff;
   margin-left: 15px;
   padding-top: 10px;
   font-family: sans-serif;
   font-weight: 700;
   font-size: medium;
   display: inline-block;
}
#rangeValue7
{
   position: relative;
   text-align: center;
   height: 30px;
   width: 90px;
   color: red;
   background: #fff;
   margin-left: 15px;
   padding-top: 10px;
   font-family: sans-serif;
   font-weight: 700;
   font-size: medium;
   display: inline-block;
}
#rangeValue8
{
   position: relative;
   text-align: center;
   height: 30px;
   width: 90px;
   color: red;
   background: #fff;
   margin-left: 15px;
   padding-top: 10px;
   font-family: sans-serif;
   font-weight: 700;
   font-size: medium;
   display: inline-block;
}
#totalCostToDate
{
   position: relative;
   text-align: center;
   height: 30px;
   width: 90px;
   color: red;
   background: #fff;
   margin-left: 15px;
   padding-top: 10px;
   font-family: sans-serif;
   font-weight: 700;
   font-size: medium;
   display: inline-block;  
   margin-top: 5%;
}
#futureCost
{
   position: relative;
   text-align: center;
   height: 30px;
   width: 90px;
   color: red;
   background: #fff;
   margin-left: 15px;
   padding-top: 10px;
   font-family: sans-serif;
   font-weight: 700;
   font-size: medium;
   display: inline-block; 
}
.button-1
{
   margin-top: 35px;
}
.button-2
{
  margin-top: 35px;
}
select
{
   background-color: white;
   border-color: white;
   outline-color: white;
   margin-left: 15px;
   height: 30px;
   width: 90px;
   font-size: medium;
}
.hidden {
   display: none;
 }


